*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/* header */
header{
    width: 100%;
    height: 90vh;
    min-height: 800px;
    /* max-height: 700px; */
    padding: 40px 2%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/capa.png');
}

header .logo{
    text-align: center;
    float: left;
    width: 160px;
    height: 40px;
    background-color: #ccc;
}

header nav{
    float: right;
}

nav.mobile-menu{
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-image: url('../images/menu.png');
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul{
    opacity: 0;
    transition: 1s;
    background-color: white;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 95px;
    width: 90%;
    color: white;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    border-bottom: 1px solid black;
}

nav.mobile-menu ul a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

header nav.desktop-menu li{
    display: inline-block;
    padding: 9px 10px;
    height: 40px;
}

header nav.desktop-menu li a{
    color: white;
    text-decoration: none;
}

.chamada1{
    max-width: 600px;
    float: right;
    margin: 130px 90px 0 90px;
}

.chamada1 h2{
    font-size: 40px;
    color: white;
    font-weight: lighter;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
/* /header */

/* section1 */
section.section1{
    width: 100%;
    background-color: #472562;
    padding: 0 2%;
    height: 400px;
}

section.section1 .container{
    max-width: 1000px;
    height: calc(100% + 30px);
}

.text-section1{
    position: relative;
    left: 45px;
    float: left;
    width: 50%;
    margin-top: 40px;
    padding-left: 60px;
    color: white;
}

.text-section1 h2{
    font-weight: lighter;
    font-size: 26px;
}

.text-section1 p{
    font-size: 15px;
    margin-top: 20px;
}

.text-section1 ul{
    font-size: 15px;
    list-style-position: inside;
}

.text-section1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.text-section1 .btn1{
    font-size: 13px;
    background-color: #ff703d;
    width: 165px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.device-section1{
    float: left;
    position: relative;
    top: -30px;
    width: 50%;
    height: 100%;
    background-image: url('../images/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* /section1 */

/* section2 */
.section2{
    padding-top: 0 2%;
    background-color: white;
    text-align: center;
}

.section2 .container{
    max-width: 1080px;
}

.section2 h2{
    color: #472663;
    font-weight: 300;
}

.section2 p{
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}

.section2 img{
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 30px;
}
/* section2 */

/* section3 */
.section3{
    width: 100%;
}

.part1{
    color: white;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #835fa7;
}

.wraper-part1{
    max-width: 600px;
    float: right;
    padding-right: 30px;
}

.part1 h2{
    font-weight: 300px;
    font-style: italic;
    font-size: 23px;
}

.part1 p{
    font-size: 16px;
    line-height: 35px;
    margin-top: 10px;
}

.part2{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: white;
}

.about-author{
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.title-author{
    float: left;
    width: 100%;
}

.wraper-title-author{
    float: left;
}

.title-author h2{
    color: #232323;
    font-weight: 400;
    font-size: 21px;
    padding-right: 20px;
}

.title-author p{
    font-size: 13px;
    color:#232323;
    font-style: italic;
    font-weight: 300;
}

.title-author .img-author{
    position: relative;
    top: -4px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: gray;
}

.text-author{
    float: left;
    width: 100%;
    margin-top: 10px;
}

.text-author p{
    color: #232323;
    font-size: 15px;
}
.slider-bullets{
    width: 100%;
    float: left;
    padding-left: 30px;
    margin-top: 12px;
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 50%;
    background: rgb(200, 200, 200);
}
/* /section3 */

@media screen and (max-width: 768px){
    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        /* max-height: 700px; */
        padding: 40px 2%;
    }
    
    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: inline-block;
    }
    
    .chamada1{
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        padding: 0 10px;
        color: white;
        font-weight: lighter;
    }
    
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
    
    section.section1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .text-section1{
        padding-left: 0;
        width: 100%;
        float: none;
        margin-top: 0;
        position: static;
        display: inline-block;
    }

    .text-section1 ul{
        display: inline-block;
        margin-top: 20px;
    }

    .text-section1 ul li{
        float: none;
        text-align: left;
    }
    
    .btn1{
        display: inline-block;
    }

    .device-section1{
        display: none;
    }

    .section2{
        padding: 40px 2%;
    }
}